@charset 'utf-8';
@use '../../options/enable/css' as *;


/// Grid container default properties.
///
/// @group layout
///
/// @require {variable} css-variables
/// @see {mixin} grid.make-container

%container-defaults {

  // Note: Custom variable values only support SassScript inside `#{}`.
  @if $css-variables {
    --grid-container-max-width: 100%;
  }

  width: 100%;
  max-width: if($css-variables, var(--grid-container-max-width), null);
  margin: {
    right: auto;
    left: auto;
  }
}
