@charset 'utf-8';
@use 'sass:list';
@use 'direction';
@use 'direction/direction' as default;
@use '../../options/enable/legacy' as *;


/// Mixin for background gradient.
///
/// @group utilities
///
/// This mixin prints a linear-gradient as well as a plain color
/// fallback and the `-webkit-` prefixed declaration.
///
/// @param {String | Number} $direction
///   - The linear gradient direction.
///
/// @param {List} $color-stops
///   - List of color-stops composing the gradient.
///
/// @example scss - Default usage.
///   @use '[root_path]/_sass-framework/utilities/background';
///
///   .bg-gradient-1 {
///     @include background.gradient(#31b7d7, #edac7d));
///   }
///   .bg-gradient-2 {
///     @include background.gradient('to right', #e47d7d 0%, #c195d3 50%, #4fb4e8 100%);
///   }
///   .bg-gradient-3 {
///     @include background.gradient(42deg, #b58234 0%, #d2b545 50%, #d7c04d 50.01%, #ffffff 100%);
///   }
///
///   // CSS Output
///   //
///   .bg-gradient-1 {
///     background: #31b7d7;
///     background: -webkit-linear-gradient(-90deg, #31b7d7, #edac7d);
///     background: linear-gradient(180deg, #31b7d7, #edac7d);
///   }
///   .bg-gradient-2 {
///     background: #e47d7d;
///     background: -webkit-linear-gradient(left, #e47d7d 0%, #c195d3 50%, #4fb4e8 100%);
///     background: linear-gradient(to right, #e47d7d 0%, #c195d3 50%, #4fb4e8 100%);
///   }
///   .bg-gradient-3 {
///     background: #b58234;
///     background: -webkit-linear-gradient(48deg, #b58234 0%, #d2b545 50%, #d7c04d 50.01%, #ffffff 100%);
///     background: linear-gradient(42deg, #b58234 0%, #d2b545 50%, #d7c04d 50.01%, #ffffff 100%);
///   }
///
/// @require {function} list.nth
/// @require {function} list.length
/// @require {function} direction.is-valid
/// @require {function} direction.legacy
/// @require {variable} default.direction

@mixin gradient(
  $direction,
  $color-stops...
) {

  // Start/End colors
  $start-color: list.nth(list.nth($color-stops, 1), 1);
  $end-color: list.nth(list.nth($color-stops, list.length($color-stops)), 1);

  // Direction has been omitted
  // and happens to be a color-stop
  @if direction.is-valid($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: default.$direction;
  }

  // No gradient support
  background: $start-color;
  // Chrome10-25,Safari5.1-6
  background: -webkit-linear-gradient(direction.legacy($direction), $color-stops);
  // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  background: linear-gradient($direction, $color-stops);

  // IE8 support
  @if $legacy-support-for-ie8 {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-color}00', endColorstr='#{$end-color}00',GradientType=0);
  }
}
