@charset 'utf-8';


/// Retrieve a variation from the "Spacing" Sass map.
///
/// @group helpers
///
/// @param {String} $key
///   - Spacing value.
///
/// @param {Number} $multiplier
///   - If you want to go further than the default common spacing values provide,
///     use this parameter to get higher variations. These variations will remain
///     based on the default `$spacer` value.
///
/// @return {Number}
///   The REM variation indexed by '$key', or 'null'
///   if the map doesn't contain the given key.
///
/// @requires {variable} spacers

@function spacing(
  $key: '8',
  $multiplier: false
) {

  $spacing: map-get($spacers, $key);
  @return if($multiplier, $spacing * $multiplier, $spacing);
}