/// Headings
/// ====================================================================================================
/// Settings for the `<h1>`-`<h6>` elements.


/// The default font sizes applied on each heading type.
///
/// @type Number
///
/// @see scss/base/_typography.scss

$heading-1-font-size: ($body-base-font-size * 2.5) !default;
$heading-2-font-size: ($body-base-font-size * 2) !default;
$heading-3-font-size: ($body-base-font-size * 1.75) !default;
$heading-4-font-size: ($body-base-font-size * 1.5) !default;
$heading-5-font-size: ($body-base-font-size * 1.25) !default;
$heading-6-font-size: $body-base-font-size !default;


/// The default font weights applied on headings 3 & 4-to-6 types.
///
/// @type Number
///
/// @see scss/base/_typography.scss

$heading-3-font-weight:      400 !default;
$heading-4-to-6-font-weight: 300 !default;


/// Media
/// ====================================================================================================
/// Media global settings.


/// The default path to the image folder.
///
/// @type String
///
/// @see {mixin} background

$image-folder-path: '../../images' !default;


/// The default file extension for images.
///
/// @type String
///
/// @see {mixin} background

$image-fallback-extension: 'png' !default;


/// The retina display media query string.
///
/// @type String
///
/// @see {mixin} background

$image-retina-media-query: 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)';


/// The default suffix for images with retina fallback.
///
/// @type String
///
/// @see {mixin} background

$image-retina-suffix: '@2x';
