
///
/// @file
/// Components rule variables
///
/// Font, spacing, borders, box model and more... for common elements.
///
/// General variable structure:
/// Variable format should follow the `$component-modifier-state-property` order.
///


/// Table of Contents
///
/// Components (States)
/// Components (Effects)












/// Components (States)
/// ====================================================================================================
/// Define common default, light/dark, hover, focus and active states.


/// Map of common text color states used by the components.
///
/// @prop {Color} light [$gray-100]
///   - Intense brightness state for the text color.
///
/// @prop {Color} active [white]
///   - Activated state for the text color on contrast background.
///
/// @prop {Color} focus [white]
///   - Focused state for text color on contrast background.
///
/// @prop {Color} hover [darken(theme-color('primary'), 15%)]
///   - Hovered state for the link color.
///
/// @prop {Color} link [theme-color('primary')]
///   - Default state for the link color.
///
/// @prop {Color} muted [$gray-600]
///   - Discrete state for the text color.
///
/// @prop {Color} dark [$gray-900]
///   - Intense darkness state for the text color.
///
/// @type Map

$component-state-colors: () !default;
$component-state-colors: map-merge(
  (
    'light':  $gray-100,
    'active': white,
    'focus':  white,
    'hover':  darken(theme-color('primary'), 15%),
    'link':   theme-color('primary'),
    'muted':  $gray-600,
    'dark':   $gray-900,
  ),
  $component-state-colors
);


/// Map of common background color states used by the components.
///
/// @prop {Color} light [$gray-100]
///   - Intense brightness state for the background color.
///
/// @prop {Color} hover [darken(theme-color('primary'), 7.5%)]
///   - Hovered state for the background color.
///
/// @prop {Color} muted [$gray-200]
///   - Discrete state for the background color.
///
/// @prop {Color} dark [$gray-800]
///   - Intense darkness state for the background color.
///
/// @type Map

$component-state-background-colors: () !default;
$component-state-background-colors: map-merge(
  (
    'light':  $gray-100,
    'hover':  darken(theme-color('primary'), 7.5%),
    'muted':  $gray-200,
    'dark':   $gray-800,
  ),
  $component-state-background-colors
);


/// Map of common border color states used by the components.
///
/// @prop {Color} light [$gray-200]
///   - Intense brightness state for the border color.
///
/// @prop {Color} hover [darken(theme-color('primary'), 10%)]
///   - Hovered state for the border color.
///
/// @prop {Color} muted [$gray-300]
///   - Discrete state for the border color.
///
/// @prop {Color} dark [$gray-900]
///   - Intense darkness state for the border color.
///
/// @type Map

$component-state-border-colors: () !default;
$component-state-border-colors: map-merge(
  (
    'light':  $gray-200,
    'hover':  darken(theme-color('primary'), 10%),
    'muted':  $gray-300,
    'dark':   $gray-900,
  ),
  $component-state-border-colors
);


/// Components (Effects)
/// ====================================================================================================
/// Define common shadow, transition effects.


/// Map of common box shadow properties used by the components.
///
/// @prop {List} small [0 0.125rem 0.25rem rgba(black, 0.075)]
///   - Reduced length for the box shadow.
///
/// @prop {List} medium [0 0.5rem 1rem rgba(black, 0.15)]
///   - Default length for the box shadow.
///
/// @prop {List} large [0 1rem 3rem rgba(black, 0.175)]
///   - Expanded length for the box shadow.
///
/// @prop {List} inset [inset 0 1px 1px rgba(black, 0.075)]
///   - Inner length for the box shadow.
///
/// @prop {List} focus [0 0 0 3px rgba(theme-color('primary'), 0.25)]
///   - Focused state for the box shadow.
///
/// @type Map

$component-box-shadows: () !default;
$component-box-shadows: map-merge(
  (
    'small':  0 spacing('1') spacing('2') rgba(black, 0.075),
    'medium': 0 spacing('4') spacing('8') rgba(black, 0.15),
    'large':  0 spacing('8') spacing('8', 3) rgba(black, 0.175),
    'inset':  inset 0 1px 1px rgba(black, 0.075),
    'focus':  0 0 0 3px rgba(theme-color('primary'), 0.25),
  ),
  $component-box-shadows
);


/// Map of common transition properties used by the components.
///
/// @prop {List} all [all .2s ease-in-out]
///   - Default properties for component transition.
///
/// @prop {List} fade [opacity .15s linear]
///   - Fade effect properties for component transition.
///
/// @prop {List} collapse [height .35s ease]
///   - Collapse effect properties for component transition.
///
/// @prop {List} button [color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out]
///   - Transition properties for buttons.
///
/// @prop {List} input [background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out]
///   - Transition properties for input form elements.
///
/// @type Map

$component-transitions: () !default;
$component-transitions: map-merge(
  (
    'all':      all .2s ease-in-out,
    'fade':     opacity .15s linear,
    'collapse': height .35s ease,
    'button':   (color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out),
    'input':    (background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out),
  ),
  $component-transitions
);
