/// Grid containers
/// Grid columns
/// Grid gutter width


/// Grid containers
///
/// Define the maximum width of `.container` for different screen sizes.
///
/// @prop {Number} small [540px]
///   - Maximum container width for small devices.
///
/// @prop {Number} medium [750px]
///   - Maximum container width for medium devices.
///
/// @prop {Number} large [990px]
///   - Maximum container width for large devices.
///
/// @prop {Number} xlarge [1200px]
///   - Maximum container width for extra large devices.
///
/// @prop {Number} xxlarge [1500px]
///   - Maximum container width for wide devices.
///
/// @see {mixin} make-container-max-widths
///
/// @type Map

$container-max-widths: () !default;
$container-max-widths: map-merge(
  (
    'small':  540px,
    'medium': 750px,
    'large':  990px,
    'xlarge': 1200px,
    'xxlarge': 1500px,
  ),
  $container-max-widths
);


/// Grid columns
///
/// Set the number of columns.
///
/// @see {mixin} make-column
/// @see {mixin} make-column-offset
/// @see {mixin} make-column-order
///
/// @type Number

$grid-columns: 12 !default;


/// Grid gutter width
///
/// Specify the width of the gutters.
///
/// @see {mixin} make-container
/// @see {mixin} make-row
/// @see {mixin} make-column-ready
/// @see {placeholder} column-ready-defaults
/// @see {varialble} page-wrappers-defaults
///
/// @type Number

$grid-gutter-width: 40px !default;
