
///
/// @file
/// Selectors rule variables
///
/// CSS selectors for all (Drupal module) components.
///
/// General variable structure:
/// Variable format should follow the `$component-modifier-state-property` order.
///


/// Table of Contents
///
/// System
/// Layouts
/// Nodes
/// Fields
/// Views
/// Blocks
/// CKEditor


/// System
/// ====================================================================================================
/// Define all CSS selectors for "System" (module) components.
///
/// @type String

$french_language:               'html[lang="fr"]' !default;
$dutch_language:                'html[lang="nl"]' !default;
$english_language:              'html[lang="en"]' !default;
$pages:                         '.page' !default;
$page-front:                    'body.front' !default;
$page-not-front:                'body.not-front' !default;
$page-maintenance:              'body.maintenance-page' !default;
$page-articles:                 '#{$pages}--node-type-article' !default;
/// Sidebars visibility
$sidebar-not-visible:           'body.no-sidebars' !default;
$sidebar-visible:               'body.sidebar' !default;
$sidebar-one-visible:           'body.one-sidebar' !default;
$sidebar-both-visible:          'body.two-sidebars' !default;
$sidebar-navigation-visible:    '#{$sidebar-one-visible}.is-visible--navigation' !default;
$sidebar-complementary-visible: '#{$sidebar-one-visible}.is-visible--complementary' !default;
/// Regions
$regions:                       '.region' !default;
/// Forms
$forms:                         '.form' !default;
/// Navigations
$navigations:                   '.menu' !default;


/// Layouts
/// ====================================================================================================
/// Define all CSS selectors for "Layouts" (module) components.
///
/// @type String

$layouts:                       '.layout' !default;
$layout-wrappers:               '#{$layouts}__wrapper' !default;
$layout-wrapper-content:        '#{$layout-wrappers}--content' !default;
$layout-wrapper-navigation:     '#{$layout-wrappers}--navigation' !default;
$layout-wrapper-complementary:  '#{$layout-wrappers}--complementary' !default;


/// Nodes
/// ====================================================================================================
/// Define all CSS selectors for "Node" (module) components.
///
/// @type String

$nodes:                         '.node' !default;
$view-mode:                     '#{$nodes}--view-mode' !default;
$teaser:                        '#{$view-mode}-teaser' !default;
$page:                          '#{$view-mode}-full' !default;


/// Paragraphs
/// ====================================================================================================
/// Define all CSS selectors for "Paragraph" (module) components.
///
/// @type String

$paragraphs:                      '.paragraphs-item';


/// Fields
/// ====================================================================================================
/// Define all CSS selectors for "Field" (module) components.
///
/// @type String

$fields:                        '.field' !default;
$field-label-inline:            '#{$fields}--label-inline' !default;
$field-label-above:             '#{$fields}--label-above' !default;


/// Views
/// ====================================================================================================
/// Define all CSS selectors for "Views" (module) components.
///
/// @type String

$views:                         '.views' !default;
$views-row:                     '#{$views}__row' !default;
$views-exposed-form:            '[class*="exposed-form"]' !default;


/// Blocks
/// ====================================================================================================
/// Define all CSS selectors for "Block" (module) components.
///
/// @type String

$blocks:                        '.block' !default;
$block-inside-region:           '#{$blocks}--region' !default;
$region-tools:                  '#{$block-inside-region}-tools' !default;
$region-header:                 '#{$block-inside-region}-header' !default;
$region-header-collapsible:     '#{$block-inside-region}-header-collapsible' !default;
$region-highlighted:            '#{$block-inside-region}-highlighted' !default;
$region-content:                '#{$block-inside-region}-content' !default;
$region-navigation:             '#{$block-inside-region}-navigation' !default;
$region-complementary:          '#{$block-inside-region}-complementary' !default;
$region-postscript-top:         '#{$block-inside-region}-postscript' !default;
$region-footer:                 '#{$block-inside-region}-footer' !default;


/// CKEditor
/// ====================================================================================================
/// Define all CSS selectors for "CKEditor" (module) components.
///
/// @type String

$ckeditor:                      '.cke_editable' !default;
