@charset 'utf-8';
@use '../../options/enable/css' as *;
@use '../../helpers/units';
@use 'base' as *;


/// Body styles
///
/// Easily inject default styles for the document body.
///
/// @group elements
///
/// @param {Color} $background-color [white]
///   - The background color applied on the document body.
///
/// @param {Color} $color [#343a40]
///   - The text color applied on the document body.
///
/// @param {Number} $font-size [1rem]
///   - The font size applied on the document body.
///
/// @param {List} $font-family [-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif]
///   - The font family applied on the document body.
///
/// @param {Number} $font-weight [400]
///   - The font weight applied on the document body.
///
/// @param {Number} $line-height [1.5]
///   - The text line height applied on the document body.
///
/// @param {Bool} $css-variables [false]
///   - Enable/disable the CSS variables.
///
/// @example scss - Usage.
///   @use '[root_path]/_sass-framework/elements/body';
///
///   body {
///     @include body.styles(
///       $color: #333,
///       $background-color: #ccc
///     );
///   }
///
///
///   // CSS Output
///   //
///   body {
///     background-color: #ccc;
///     color: #333;
///     font-size: 1rem;
///     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
///     font-weight: 400;
///     line-height: 1.5;
///   }
///
/// @require {mixin} units.rem
/// @require {function} units.rem
/// @require {variable} base-background-color
/// @require {variable} base-color
/// @require {variable} base-font-size
/// @require {variable} base-font-family
/// @require {variable} base-font-weight
/// @require {variable} base-line-height
/// @require {variable} css-variables

@mixin styles(
  $background-color: $base-background-color,
  $color: $base-color,
  $font-size: $base-font-size,
  $font-family: $base-font-family,
  $font-weight: $base-font-weight,
  $line-height: $base-line-height,
  $css-variables: $css-variables
) {

  // Note: Custom variable values only support SassScript inside `#{}`.
  @if $css-variables {
    --body-base-background-color: #{$background-color};
    --body-base-color: #{$color};
    --body-base-font-size: #{units.rem($font-size)};
    --body-base-font-family: #{$font-family};
    --body-base-font-weight: #{$font-weight};
    --body-base-line-height: #{units.rem($line-height)};
  }

  // As a best practice, apply a default `background-color`.
  background-color: if($css-variables, var(--body-base-background-color), $background-color);
  // Go easy on the eyes and use something other than "#000" for text.
  color: if($css-variables, var(--body-base-color), $color);
  font: {
    size: if($css-variables, var(--body-base-font-size), units.rem($font-size));
    family: if($css-variables, var(--body-base-font-family), $font-family);
    weight: if($css-variables, var(--body-base-font-weight), $font-weight);
  }
  line-height: if($css-variables, var(--body-base-line-height), units.rem($line-height));
}
